body{
    background-image:url("fox-5042242_1920.jpg");
    background-repeat:none;
    background-size:cover; 
    height:100%;
}

.hero-image{
    background-image: linear-gradient(rgba(0,0,0,5),rgba(0,0,0,5)),url("mountain-5309606_640.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.hero-text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    padding-left: 80px;
    padding-top:50px;
    text-align:center;
    position:absolute;
    height:20%;
    left:50%;
    color:whitesmoke;
}
.sidenav{
    background-image:url("fox-5042242_1920.jpg");
    background-repeat:no-repeat;
    height:100%;
    width:250px;
    position:fixed;
    z-index:3;
    top:0;
    left:0;
    background-color:gray;
    overflow:hidden; 
    padding-top:100px;
    
}
span{
    color:whitesmoke;
}
.sidenav a{
    padding:30px 28px 8px 32px;
    text-decoration:none;
    font-size:25px;
    color:gray;
    display:block;
}
.sidenav a:hover{
    color:#417
}
.sidenav .closebtn{
    position:absolute;
    color:black;
    top:0;
    right:25px;
    font-size:40px;
    margin-left:50px;
}
img{
    width:85%;
    height:25%;
    padding-top:80%;
    padding-left:8%;
}

